<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Copper Cat Points</title>
</head>
<body>

    <div class="container">
        <nav class="navbar  navbar-light bg-light">
            <div class="float-left" style="height: 64px;">
                <a href = "/"><div class="copper-cat-logo float-left" id="copper_logo"></div></a>
                <a class="navbar-brand" href="/" style="line-height: 52px;">Copper Cat Points</a>
            </div>
            <div class="float-right">
                <div class="vl float-right"></div>
                <input class="do-not-print float-right top-menu-icon" id="download-report-button" title="download report" type="image" src="/images/download.png" />
                <div class="vl float-right"></div>
                <input class="do-not-print float-right top-menu-icon" id="print-button" title="print" type="image" src="/images/printer.png"/>
                <div class="vl float-right"></div>
            </div>
        </nav>